name: zenoh-examples/hello-zenoh

x-service: &service
  build: &service-build
    context: ../../..
    dockerfile: containers/rust-crate-bin/Containerfile
    args: &service-build-args
      CRATE_PATH: crates/examples/0-hello-zenoh
  deploy:
    replicas: 0

services:
  pub:
    <<: *service
    build:
      <<: *service-build
      args:
        <<: *service-build-args
        BIN_NAME: pub

  sub:
    <<: *service
    build:
      <<: *service-build
      args:
        <<: *service-build-args
        BIN_NAME: sub

  queryable:
    <<: *service
    build:
      <<: *service-build
      args:
        <<: *service-build-args
        BIN_NAME: queryable

  querier:
    <<: *service
    build:
      <<: *service-build
      args:
        <<: *service-build-args
        BIN_NAME: querier
